/* body {
  background-color: rgb(151, 146, 146);
} */
.test {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
.texto {
  text-align: center;
  text-decoration: underline wavy red;
  letter-spacing: 10px;
  text-shadow: 10px 10px 10px blue;
}

.texto2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: 800; */
  font-style: italic;
  font-variant: small-caps;
  line-height: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: turquoise;
  height: 100vh;
}

.content {
  background-color: tomato;
  flex-grow: 0.9;
}

.navbar {
  display: flex;
  background-color: grey;
  justify-content: space-between;
}

.menu_button {
  background-color: greenyellow;
}

.search_button {
  background-color: red;
}

.logo {
  background-color: white;
}
